################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/AspNetRestDocker/.vs/AspNetRestDocker/v15/Server/sqlite3
